@import "inc/bootstrap";

.qti-associateInteraction {background: red;
/* look of the associate interaction */

    .choice-area {background: red;
/* choice area of the associate interaction */
        & > .qti-choice {background: red;
/* choices in the choice area of the associate interaction */
        }
    }
    .result-area {background: red;
/* result area of the associate interaction */
        & > .qti-choice {background: red;
/* choices in the result area of the associate interaction */
        }
    }
}