@import "inc/bootstrap";

.qti-hottextInteraction {background: red;
/* look of the hottext interaction */

    .hottext {background: red;

        &:hover {background: red;
/* hottext on hover */
        }
    }
}
